@namespace ManaApp.Components.Products
@using ManaApp.Models

<div class="product-content-panel">

    <div class="product-panel-header">
    Preces apraksts
</div>

<div class="product-panel-body">

    @if (Selected is null)
    {
        <div style="opacity:.7">Izvēlies rindu kreisajā pusē.</div>
    }
    else if (Loading)
    {
        <div style="opacity:.7">Ielādēju...</div>
    }
    else if (Details is null)
    {
        <div style="color:#b00">Neizdevās ielādēt datus.</div>
        <div><b>Nosaukums:</b> @Selected.productName</div>
        <div><b>Kods:</b> @Selected.productCode</div>
    }
    else
    {
    
        <div class="pc-row-category">
            <div class="pc-label-fixed">Kategorija</div>
            <div class="pc-input-flex">@Details.CategoryName</div>
        </div>

        <div class="pc-row-namecode">

            <div class="pc-label-fixed">Nosaukums</div>
            <div class="pc-input-name">@Details.ProductName</div>

            <div class="pc-label-code">Kods</div>
            <div class="pc-input-code">@Details.ProductCode</div>

        </div>

        <div class="pc-row-version">

            <div class="pc-label-fixed">Versijas Nr.</div>
            <div class="pc-input-version">@Details.VersionName</div>

            <div class="pc-label-ras">Rasējuma Nr.</div>
            <div class="pc-input-ras">@Details.VersionRasejums</div>

        </div>

        <div class="pc-row-date-notes">

            <div class="pc-label-fixed">Piezīmes:</div>

            <div class="pc-label-date">Datums</div>
            <div class="pc-input-date">
                @Details.VersionDate.ToString("dd.MM.yyyy")
            </div>

        </div>

        <div class="pc-notes-box">
            @Details.VersionComment
        </div>

    }
</div>
</div>

@code {
    [Parameter] public ProductRow? Selected { get; set; }
    [Parameter] public ProductContentDto? Details { get; set; }
    [Parameter] public bool Loading { get; set; }
}