@using ManaApp.Models


@if (ActiveTask is null)
{
    <div class="no-active-task">
        Aktīvs uzdevums nav izvēlēts.
    </div>
}
else
{
<div class="active-task @GetPanelClass()">

    <div class="task-batch-corner">
        @ActiveTask.BatchCode
    </div>


    <div class="task-product">
        @ActiveTask.ProductName
    </div>

    <div class="task-header">
                <div class="task-box">
                    <div class="task-box-label">Detaļas nosaukums</div>
                    <div class="task-part">@ActiveTask.PartName</div>
                </div>

                <div class="task-box">
                    <div class="task-box-label">Darbība</div>
                    <div class="task-step">@ActiveTask.StepName</div>
                </div>
    </div>

    <div class="task-amount">
                <div class="amount-box">
                    <div class="amount-label">Apjoms</div>
                    <div class="amount-value">
                        @if (ActiveTask.StepType == 3)
                        {
                            @ActiveTask.Done
                        }
                        else
                        {
                            @ActiveTask.Planned
                        }
                    </div>
                </div>

               <div class="amount-box">
                    <div class="amount-label">Procesā</div>
                    <div class="amount-value">
                        @if (ActiveTask is not null && ActiveTask.Status == 2)
                        {
                            @ActiveTask.Planned
                        }
                    </div>
                </div>


                <div class="amount-box disabled">
                    <div class="amount-label">Bojāts</div>
                    <input class="amount-input" type="number" disabled />
                </div>
    </div>


    <div class="task-comment">
                <label>Komentārs:</label>
                <div class="comment-text">
                 @(ActiveTask?.Comment ?? "")
                </div>
    </div>

    <div class="actions">
                <button class="btn btn-primary"
                        disabled="@(ActiveTask?.Status != 1)"
                        @onclick="() => OnStart.InvokeAsync(ActiveTask)">
                    SĀKT
                </button>

                <button class="btn btn-finish"
                        disabled="@(ActiveTask?.Status != 2)"
                        @onclick="() => OnFinishConfirm.InvokeAsync(ActiveTask)">
                    PABEIGTS
                </button>


    </div>

</div>

}


@code {
    [Parameter] public TaskRow? ActiveTask { get; set; }
    [Parameter] public EventCallback<TaskRow> OnFinish { get; set; }
    [Parameter] public Func<int, string> StatusText { get; set; } = default!;
    [Parameter] public EventCallback<TaskRow> OnStart { get; set; }
    [Parameter] public EventCallback<TaskRow> OnFinishConfirm { get; set; }

string GetPanelClass()
{
    if (ActiveTask == null)
        return "";

    return ActiveTask.Status switch
    {
        2 => "panel-active",    // Procesā
        1 => "panel-idle",      // Nav iesākts
        3 => "panel-done",      // Pabeigts
        _ => ""
    };
}

}
