@using ManaApp.Models

@if (!Tasks.Any())
{
    <p>Nav nākamo uzdevumu.</p>
}
else
{
    var orderedTasks = Tasks
    .OrderByDescending(t => t.PriorityLevel)
    .ThenBy(t => t.Status)
    .ThenBy(t => t.StepOrder);


    <table class="table">
        <thead>
            <tr>
                <th>Batch</th>
                <th>Nosaukums</th>
                <th>Detaļa</th>
                <th>Solis</th>
                <th>Prioritāte</th>
                <th>Statuss</th>
                <th>Planned</th>
                <th>Finishing qty</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var t in orderedTasks)
            {
    <tr class="@(t.Status == 2 ? "table-warning" : (t.Status == 3 ? "table-success" : ""))"
    style="cursor: @(CanStart(t) ? "pointer" : "not-allowed")"
    @onclick="() => { if (CanStart(t)) OnSelect.InvokeAsync(t); }">
                    <td>@t.BatchCode</td>
                    <td>@t.ProductName</td>
                    <td>@t.PartName</td>
                    <td>@t.StepName</td>
                    <td>@t.Priority</td>
                    <td>@StatusText(t.Status, t)</td>
                    <td>
                        @if (t.StepType != 3)
                        {
                            @t.Planned
                        }
                    </td>

                    <td>
                        @if (t.StepType == 3)
                        {
                            @t.Done
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public IEnumerable<TaskRow> Tasks { get; set; } = Enumerable.Empty<TaskRow>();
    [Parameter] public Func<int, TaskRow, string> StatusText { get; set; } = default!;
    [Parameter] public Func<TaskRow, bool> CanStart { get; set; } = default!;
    [Parameter] public EventCallback<TaskRow> OnOpen { get; set; }
    [Parameter] public EventCallback<TaskRow> OnSelect { get; set; }

}

